<div class="prog">
    <div class="container section-p program">
        <div class="row">
            <div class="col m4 center">
                <img src="images/ceremony.png" alt="program" class="red lighten-2">
                <h2>Ceremony 3:30pm</h2>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. </p>
            </div>
            <div class="col m4 center">
                <img src="images/cocktails.png" alt="program" class="red lighten-2">
                <h2>Cocktails 5:30pm</h2>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. </p>
            </div>
            <div class="col m4 center">
                <img src="images/dinner.png" alt="program" class="red lighten-2">
                <h2>Dinner 6:45pm</h2>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. </p>
            </div>
        </div>
    </div>
</div>